.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.aa-DetachedSearchButton {
  align-items: center;
  background-color: #fff;
  background-color: rgba(var(--aa-input-background-color-rgb), var(--aa-input-background-color-alpha));
  border: 1px solid #807ea3cc;
  border: 1px solid rgba(var(--aa-input-border-color-rgb), var(--aa-input-border-color-alpha));
  border-radius: 13px;
  color: #807ea399;
  color: rgba(var(--aa-muted-color-rgb), var(--aa-muted-color-alpha));
  cursor: pointer;
  display: flex;
  font: inherit;
  font-family: inherit;
  font-family: var(--aa-font-family);
  font-size: 16px;
  font-size: var(--aa-font-size);
  height: 44px;
  height: var(--aa-search-input-height);
  margin: 0;
  padding: 0 5.5px;
  padding: 0 calc(var(--aa-search-input-height)/8);
  position: relative;
  text-align: left;
  width: 100%
}